/node_modules
/public/hot
/public/storage
/resources/views/ignore
/storage/*.key
/storage/app/public/item_images/*
/storage/app/public/profile_images/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*Zone.Identifier
*.DS_Store